 <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thống kê doanh thu
    </h1>
    <ol class="breadcrumb">
        <li>
            <a ui-sref="home"><i class="fa fa-dashboard"></i> Trang chủ</a>
        </li>
        <li>
            <a ui-sref="statistic_revenue">Thống kê</a>
        </li>
        <li class="active">Doanh thu</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-7">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs pull-right">
                    <li class="active">
                        <a href="javascripts:void();" data-toggle="tab">Biểu đồ thống kê</a>
                    </li>
                </ul>
                <div class="tab-content no-padding" id="revenue-chart">
                    <!-- Morris chart - Sales -->
                    <canvas id="bar" class="chart chart-line"
                            chart-data="chartData" chart-labels="labels"
                            chart-series="series"></canvas>
                </div>
            </div><!-- /.nav-tabs-custom -->

        </section><!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5">
            <!-- Map box -->
            <div class="box box-solid">
                <div class="box-header">
                    <!-- tools box -->
                    <i class="fa fa-database"></i>
                    <h3 class="box-title">
                        Dữ liệu thống kê
                    </h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Từ ngày: </label>
                            <input type="text" class="form-control"  ng-change="getStatistic(page)" id="fromDate" ng-model="fromDate"/>
                        </div>
                        <div class="col-md-6">
                            <label>đến ngày: </label>
                            <input type="text" date class="form-control"  ng-change="getStatistic(page)" id="toDate" ng-model="toDate"/>
                        </div>
                    </div>
                    <br />
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>Ngày</td>
                                <td>Doanh số</td>
                                <td>Lợi nhuận</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in tableData">
                                <td>
                                    {{item.Date | date:'dd/MM/yyyy'}}
                                </td>
                                <td>
                                    {{item.Revenues | number}}
                                </td>
                                <td>
                                    {{item.Benefit | number}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if="loading">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4 loading-area">
                            <i class="fa fa-refresh fa-4x fa-spin"></i> <label class="label label-primary loading-lable">Đang tải...</label>
                        </div>
                        <div class="col-xs-4"></div>
                    </div>
                </div><!-- /.box-body-->
                <div class="box-footer">
                    <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getStatistic(page)"></pager-directive>
                </div><!-- /.box-footer-->
            </div>
        </section><!-- right col -->
    </div><!-- /.row (main row) -->

</section><!-- /.content -->
