@{
    ViewBag.Title = "Xác nhận đặt lại mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumb-area">
    <div class="row">
        <div class="col-xs-12 col-md-6 custom-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="/"> <i class="fa fa-home"></i> Trang chủ</a></li>
            </ol>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-content-right" id="tblCartTable">
                    <div class="woocommerce">
                        <section class="panel panel-success">
                            <div class="panel-heading">Thiết lập mật khẩu thành công</div>
                            <div class="panel-body"> Mật khẩu của bạn đã được thiết lập lại. Vui lòng @Html.ActionLink("click ở đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

