
@{
    ViewBag.Title = "Hủy đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-big-title-area" id="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Page title area -->
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-content-right" id="tblCartTable">
                    <div class="woocommerce">
                        <h1>Đơn hàng đã được hủy bỏ</h1>
                        <p>Hủy đơn hàng thành công từ Ngân Lương. Vui lòng <a href="/">click vào đây</a> để về trang chủ.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



